# Exploring Kiva Crowdfunding Loans with Pandas

## Summary

In this notebook I explore the **Kiva Crowdfunding** dataset (`kiva_loans.csv`) using `pandas`.  
The goal is to answer six analytical questions about loan sizes, currencies, sectors, borrower types and time trends.

The analysis:

- Filters rows using **string methods** and **numerical conditions**
- Sorts tables with `.sort_values`
- Aggregates data with `.groupby`
- Creates new variables using `.apply` and `lambda`
- Explicitly considers that loans are in **different currencies**, using the `currency` column and the `funded_amount` (in USD) as a common basis. :contentReference[oaicite:0]{index=0}


## Table of Contents

1. [Load and prepare the data](#load-and-prepare-data)
2. [Question 1 – Which sectors receive the largest loans?](#q1)
3. [Question 2 – How do loan sizes differ across currencies?](#q2)
4. [Question 3 – Food-related loans by country and currency](#q3)
5. [Question 4 – Borrower gender composition and loan size](#q4)
6. [Question 5 – Time trends in a high-volume country](#q5)
7. [Question 6 – Who receives the largest 1% of loans?](#q6)

In [4]:
# -------------------------
# Load Kiva dataset
# -------------------------
import pandas as pd
import numpy as np
import os

# Try to download from Kaggle using kagglehub
try:
    import kagglehub

    print("Downloading dataset from Kaggle with kagglehub...")
    path = kagglehub.dataset_download("kiva/data-science-for-good-kiva-crowdfunding")
    LOANS_PATH = os.path.join(path, "kiva_loans.csv")
    print("Path to dataset files:", path)
    print("Using file:", LOANS_PATH)

except Exception as e:
    print("Could not use kagglehub. Falling back to local file 'kiva_loans.csv'.")
    print("Error was:", e)
    LOANS_PATH = "kiva_loans.csv"

# Load CSV into pandas
loans = pd.read_csv(LOANS_PATH)

loans.head()
loans.info()

Downloading dataset from Kaggle with kagglehub...
Path to dataset files: C:\Users\islec\.cache\kagglehub\datasets\kiva\data-science-for-good-kiva-crowdfunding\versions\5
Using file: C:\Users\islec\.cache\kagglehub\datasets\kiva\data-science-for-good-kiva-crowdfunding\versions\5\kiva_loans.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   funded_amount       671205 non-null  float64
 2   loan_amount         671205 non-null  float64
 3   activity            671205 non-null  object
 4   sector              671205 non-null  object
 5   use                 666973 non-null  object
 6   country_code        671197 non-null  object
 7   country             671205 non-null  object
 8   region              614405 non-null  object
 9   currency            671205 non-null  object
 10  partner_id          657698 non-null  float64
 11  posted_time         671205 non-null  object
 12  disbursed_time      668809 non-null  object
 13  funded_time         622874 non-null  object
 14  term_in_months      671205 non-null  float64
 15  lender_count        671205 non-null  int64
 16  tags                499789 non-null  object
 17  borrower_genders    666984 non-null  object
 18  repayment_interval  671205 non-null  object
 19  date                671205 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

### Load and prepare the data

To make the notebook reproducible, I use the **kagglehub** library to download the  
“Kiva Crowdfunding” dataset directly from Kaggle:

- If `kagglehub` is available and properly configured, the notebook downloads the dataset  
  and reads `kiva_loans.csv` from the downloaded folder.
- If `kagglehub` is not available (for example, if the Kaggle API is not configured),  
  the code falls back to a local file named `kiva_loans.csv` in the working directory.

This way, the notebook can run both on my machine and on other environments (e.g. Colab, local Jupyter).

In [5]:
# Ensure datetime types for time columns
loans["posted_time"] = pd.to_datetime(loans["posted_time"], errors="coerce")
loans["disbursed_time"] = pd.to_datetime(loans["disbursed_time"], errors="coerce")
loans["funded_time"] = pd.to_datetime(loans["funded_time"], errors="coerce")

# Create a posting year for time-based analysis
loans["posted_year"] = loans["posted_time"].dt.year

# Create an approximate loan amount in USD.
# funded_amount is in USD for all currencies. For comparability:
# - If funded_amount > 0, use funded_amount as the USD value.
# - Otherwise, fall back to loan_amount (this mainly affects unfunded loans).
def approximate_loan_usd(row):
    if row["funded_amount"] > 0:
        return row["funded_amount"]
    else:
        return row["loan_amount"]

loans["loan_amount_usd"] = loans.apply(lambda row: approximate_loan_usd(row), axis=1)

# Create a borrower_type variable from borrower_genders using apply + lambda
def categorize_borrower(genders):
    if not isinstance(genders, str):
        return "N/A"
    # genders like "female", "male" or "female, male"
    parts = set(genders.split(", "))
    if parts == {"female"}:
        return "female"
    elif parts == {"male"}:
        return "male"
    elif "female" in parts and "male" in parts:
        return "mixed_group"
    elif "female" in parts:
        return "female_group"
    elif "male" in parts:
        return "male_group"
    else:
        return "other"

loans["borrower_type"] = loans["borrower_genders"].apply(lambda x: categorize_borrower(x))

loans[["funded_amount", "loan_amount", "currency", "loan_amount_usd", "borrower_genders", "borrower_type"]].head()

,funded_amount,loan_amount,currency,loan_amount_usd,borrower_genders,borrower_type
0,300.0,300.0,PKR,300.0,female,female
1,575.0,575.0,PKR,575.0,"female, female",female
2,150.0,150.0,INR,150.0,female,female
3,200.0,200.0,PKR,200.0,female,female
4,400.0,400.0,PKR,400.0,female,female

## <a id="q1"></a>Question 1 – Which sectors receive the largest loans?

**Question:**  
Which sectors receive the largest number of loans and the highest total funded amount (in USD)?

**Reasoning:**  
To answer this, I:
- keep only loans with `funded_amount > 0` (actually funded),
- group the data by `sector`,
- compute:
  - number of loans,
  - total funded amount,
  - median funded amount,
- and sort the sectors by total funded amount in descending order.

In [6]:
# Filter to funded loans only
funded = loans[loans["funded_amount"] > 0]

# Group by sector and compute aggregations
sector_summary = (
    funded
    .groupby("sector", as_index=False)
    .agg(
        loans_count=("id", "count"),
        total_funded=("funded_amount", "sum"),
        median_funded=("funded_amount", "median")
    )
    .sort_values("total_funded", ascending=False)
)

sector_summary.head(10)

            sector  loans_count  total_funded  median_funded
0      Agriculture       179639   133770635.0          500.0
6             Food       135962   115089210.0          425.0
11          Retail       123875    90864855.0          400.0
12        Services        44549    42966085.0          500.0
2         Clothing        32538    34805270.0          575.0
4        Education        30955    30044920.0          700.0
8          Housing        33597    21377100.0          500.0
10    Personal Use        36281    14189775.0          200.0
1             Arts        11997    11821055.0          475.0
13  Transportation        15396     9842500.0          425.0

### Interpretation

The results show that **Agriculture** is the sector with the highest total amount funded on Kiva, followed closely by **Food** and **Retail**. These sectors also have the highest number of loans, which indicates that the large total funding volume is driven primarily by the **high frequency of loans**, rather than unusually large individual loan sizes.

The **median funded amount** across the top sectors remains relatively similar (between 400 and 500 USD), suggesting that Kiva loan sizes tend to be fairly consistent across different economic activities. Therefore, what distinguishes the leading sectors is not the size of each loan, but the **scale of activity** and the number of borrowers involved.

### Conclusion

Agriculture, Food and Retail dominate Kiva’s portfolio in terms of total funding and number of loans. These sectors receive the greatest share of resources because they represent a large portion of the microfinance demand, rather than because they have significantly higher individual loan values.

## <a id="q2"></a>Question 2 – How do loan sizes differ across currencies?

**Question:**  
How does the typical loan size vary across currencies when we approximate loan values in USD using `loan_amount_usd`?

**Reasoning:**  
- Different countries and field partners use different `currency` codes.
- `loan_amount_usd` gives us a comparable value in USD for each loan.
- I will:
  - group by `currency`,
  - compute number of loans and mean/median `loan_amount_usd`,
  - keep only currencies with a reasonable sample size (e.g. at least 1,000 loans),
  - sort currencies by mean loan size.

In [7]:
# Group by currency
currency_summary = (
    funded
    .groupby("currency", as_index=False)
    .agg(
        loans_count=("id", "count"),
        mean_loan_usd=("loan_amount_usd", "mean"),
        median_loan_usd=("loan_amount_usd", "median")
    )
)

# Filter to currencies with at least 1000 funded loans
currency_summary = currency_summary[currency_summary["loans_count"] >= 1000]

# Sort by mean loan size in USD
currency_summary = currency_summary.sort_values("mean_loan_usd", ascending=False)

currency_summary

   currency  loans_count  mean_loan_usd  median_loan_usd
44      PYG        11896    2472.482347           2400.0
45      RWF         6691    2265.442385           1425.0
4       BOB         7309    2237.187030           1450.0
32      MMK         1820    1651.565934            950.0
35      MXN         5664    1586.595162            825.0
16      GTQ         7225    1487.245675            925.0
2       AZN         1944    1388.052984           1300.0
41      PEN        21374    1340.921213            900.0
10      CRC         1551    1299.500322            975.0
0       ALL         1921    1270.171786           1175.0
57      VND        10782    1267.084029            900.0
13      EUR         1419    1253.417900           1125.0
56      USD       104349    1248.667069            800.0
14      GEL         1564    1207.289003           1000.0
34      MWK         1311    1191.838291           1150.0
53      TZS         5173    1180.543205            850.0
24      KGS         5424    1163.200590            950.0
1       AMD         5969    1103.220808           1050.0
62      XOF        18518    1080.722810            650.0
22      JOD         4165    1066.290516           1000.0
15      GHS         4248    1050.670904            800.0
27      LBP         2077    1036.446798           1025.0
39      NIO         7178     875.006966            675.0
17      HNL         6447     869.799907            675.0
63      YER         2307     773.331166            650.0
59      WST         7371     765.204857            600.0
26      LAK         1481     736.411209            550.0
47      SLL         5349     734.913068            625.0
60      XAF         2344     708.937713            375.0
19      IDR         6101     682.715948            550.0
55      UGX        20410     678.599951            525.0
12      EGP         1623     668.468885            575.0
51      TJS        17470     644.513452            525.0
18      HTG         3382     589.599349            325.0
21      INR        11209     574.027567            325.0
9       COP        21828     568.232316            450.0
36      MZN         3435     544.053857            450.0
43      PKR        26611     466.760926            400.0
25      KHR        29331     462.340186            200.0
52      TRY         1703     436.655901            375.0
23      KES        74759     414.263567            300.0
42      PHP       160328     339.624863            275.0
28      LRD         3499     322.106316            275.0
31      MGA         3807     308.267665            250.0
38      NGN        10008     186.882994            125.0

### Interpretation

The results reveal substantial variation in typical loan sizes across different currencies, even after converting all values to an approximate USD equivalent using the `loan_amount_usd` variable. Some currencies, often used in countries with higher living costs or larger microfinance operations, show **higher mean and median loan sizes**, while others are associated with significantly smaller loans.

The currencies at the top of the ranking tend to have both:
- **higher average loan amounts**,  
- **higher medians**,  

indicating that larger loans are common within those monetary contexts. Conversely, currencies near the bottom show relatively low median and mean values, suggesting that Kiva loans in those economies are typically small-scale interventions.

It is also important to note that this ranking reflects not only economic differences between countries, but also the **operational practices of Kiva’s field partners**, who adapt loan sizes to local needs, costs and repayment capacities.

### Conclusion

Loan sizes differ substantially across currencies, even after standardizing values to USD. This confirms that the **currency of the loan is strongly associated with the loan’s purchasing power, local economic conditions and microfinance structure** in each region. The analysis highlights how Kiva’s global operations adjust to diverse financial environments around the world.

## <a id="q3"></a>Question 3 – Food-related loans by country and currency

**Question:**  
Among loans related to food (sector `Food` or activities that contain the word "Food"), which countries have the highest median loan size in USD, and which currencies are most commonly used?

**Reasoning:**  
- I select loans where:
  - `sector == "Food"` **or**
  - `activity` contains the substring `"Food"` (case-insensitive).
- This uses a **string method**: `.str.contains("Food", case=False, na=False)`.
- Then I:
  - group by `country` and `currency`,
  - compute counts and median `loan_amount_usd`,
  - sort by median loan size to identify top countries.

In [9]:
# Select loans related to Food sector or activity
food_mask = (
    (funded["sector"] == "Food") |
    (funded["activity"].str.contains("Food", case=False, na=False))
)

food_loans = funded[food_mask]

# Group by country and currency
food_country_currency = (
    food_loans
    .groupby(["country", "currency"], as_index=False)
    .agg(
        loans_count=("id", "count"),
        median_loan_usd=("loan_amount_usd", "median")
    )
)

# Keep pairs (country, currency) with at least 100 loans
food_country_currency = food_country_currency[
    food_country_currency["loans_count"] >= 100
]

# Sort by median loan size in USD
food_country_currency = food_country_currency.sort_values(
    "median_loan_usd", ascending=False
)

food_country_currency.head(15)

,country,currency,loans_count,median_loan_usd
87,United States,USD,1080,5000.0
61,Paraguay,PYG,2403,3450.0
80,The Democratic Republic of the Congo,USD,1063,3425.0
19,Dominican Republic,DOP,114,2937.5
9,Burundi,BIF,499,2750.0
34,Iraq,USD,105,2500.0
70,Senegal,XOF,1199,2450.0
47,Mexico,MXN,632,2212.5
66,Rwanda,RWF,2258,2050.0
5,Bolivia,BOB,2131,2050.0
3,Azerbaijan,AZN,229,1550.0
42,Lebanon,USD,705,1500.0
78,Tajikistan,USD,148,1500.0
59,Palestine,USD,773,1500.0
88,Vietnam,VND,1621,1350.0

### Interpretation

This table shows, for each *(country, currency)* pair in food–related loans, how many loans were funded and what the median loan size is in USD terms.  
To reduce noise, only combinations with at least 100 loans were kept.

We can see that some countries, such as **United States (USD)** and **Paraguay (PYG)**, have relatively high median loan sizes for food–related activities, often above 3,000–5,000 USD. This suggests that Kiva loans linked to food in those contexts tend to support **larger projects or higher-cost activities**.

Other countries in the list have lower median loan amounts (around a few hundred to a couple of thousand USD), indicating that food–related loans there are typically **smaller scale interventions**, even though the number of loans can still be substantial.

The distribution across different currencies also highlights how food–related microfinance adapts to local economic conditions: the same “type” of sector (Food) can correspond to very different funding scales depending on the country and currency.

### Conclusion

Food-related loans on Kiva are not homogeneous across countries. Some countries and currencies are associated with **significantly larger median loan sizes**, while others mainly receive smaller loans. This shows that Kiva’s support to the food sector is strongly shaped by the local economic context and by how field partners structure their lending activities in each country.

## <a id="q4"></a>Question 4 – Borrower gender composition and loan size

**Question:**  
Is there a difference in loan size (funded_amount) between different borrower types: female, male and mixed or group borrowers?

**Reasoning:**  
- We use the derived `borrower_type` variable created with `.apply` + `lambda` from the `borrower_genders` string.
- Then:
  - group by `borrower_type`,
  - compute number of loans and mean/median funded_amount,
  - sort by median funded_amount.

In [10]:
borrower_summary = (
    funded
    .groupby("borrower_type", as_index=False)
    .agg(
        loans_count=("id", "count"),
        mean_funded=("funded_amount", "mean"),
        median_funded=("funded_amount", "median")
    )
    .sort_values("median_funded", ascending=False)
)

borrower_summary

  borrower_type  loans_count  mean_funded  median_funded
3   mixed_group        40279  1821.236873         1050.0
2          male       137371   804.001136          550.0
0           N/A         4092   952.127322          525.0
1        female       486080   699.192869          425.0

### Interpretation

The results show clear differences in loan size across borrower gender compositions.  
Mixed–gender groups have the **highest median funded amount** (around 1,050 USD), suggesting that group loans involving both men and women tend to be larger in scale. This could reflect group-based lending models commonly used by field partners.

Loans to **male borrowers** have a median around 550 USD, which is higher than the median for female borrowers. However, male borrowers represent a much smaller share of Kiva’s total portfolio compared to women.

Female borrowers, while accounting for the **largest number of loans** by far, receive loans with the **lowest median value** (around 425 USD). This pattern is consistent with microfinance practices worldwide, where women are more frequent loan recipients but often take smaller, more targeted loans aimed at small enterprises, household activities or livelihood support.

The category **“N/A”** corresponds to missing or unusual gender entries (e.g., loans where borrower_genders is empty or not specified). These loans display median values between those of male and female categories.

### Conclusion

Borrower gender composition is clearly associated with differences in loan size on Kiva. Mixed–gender groups receive the largest loans, male borrowers receive moderately higher amounts, and female borrowers—despite representing the majority of borrowers—typically receive smaller individual loan amounts. This reflects both operational practices of field partners and broader global patterns in microfinance lending.

## <a id="q5"></a>Question 5 – Time trends in a high-volume country

**Question:**  
In a high-volume country such as the **Philippines**, how have the average loan size in USD and the number of loans evolved over time?

**Reasoning:**  
- Identify a country with many loans (Philippines is known to be one of them). :contentReference[oaicite:5]{index=5}  
- Filter data to that country using a string condition on `country`.
- Group by `posted_year`, computing:
  - number of loans,
  - mean loan_amount_usd.
- Sort by year to see trends over time.

In [11]:
# Choose a high-volume country (you can change this if you want)
target_country = "Philippines"

country_loans = funded[funded["country"] == target_country]

time_trend = (
    country_loans
    .groupby("posted_year", as_index=False)
    .agg(
        loans_count=("id", "count"),
        mean_loan_usd=("loan_amount_usd", "mean")
    )
    .sort_values("posted_year")
)

time_trend

   posted_year  loans_count  mean_loan_usd
0         2014        36986     364.836019
1         2015        45867     344.052369
2         2016        48314     331.948814
3         2017        29162     314.248851

### Interpretation

The results show how Kiva’s lending activity in the Philippines evolved between 2014 and 2017.  
Both indicators — the **number of loans** and the **mean loan amount** in USD — exhibit noticeable patterns over time.

The number of loans increases substantially from 2014 to 2016, indicating a period of strong expansion in Kiva’s operations in the country. In 2017, however, the volume decreases again, which may reflect strategic adjustments by field partners, changing demand, or shifts in Kiva’s regional priorities.

The **average loan size** remains relatively stable throughout the years, fluctuating only slightly around 314–345 USD. This suggests that, although the number of loans changed over time, the *typical scale* of each individual loan remained consistent. In other words, the growth in total lending activity was driven by **more borrowers being served**, not by larger loans being issued.

### Conclusion

Kiva’s operations in the Philippines show a period of significant growth in the number of loans between 2014 and 2016, followed by a decline in 2017, while the mean loan size stays stable across all years. This indicates that temporal variation in lending activity is primarily driven by changes in borrower volume rather than changes in the size of microloans.

## <a id="q6"></a>Question 6 – Who receives the largest 1% of loans?

**Question:**  
If we focus on the top 1% largest loans (by `loan_amount_usd`), which sectors, currencies and repayment intervals are most common?

**Reasoning:**  
- Compute the 99th percentile (`quantile(0.99)`) of `loan_amount_usd`.
- Use a **numerical condition** to filter loans whose `loan_amount_usd` is above that threshold.
- Then summarize this subset by sector, currency and repayment interval, counting how many loans fall into each category.
- Sort these summaries to see which characteristics are associated with very large loans.

In [12]:
# Compute 99th percentile of loan_amount_usd
p99 = funded["loan_amount_usd"].quantile(0.99)

# Filter to the largest 1% loans
top_loans = funded[funded["loan_amount_usd"] >= p99]

# Sector summary
top_sector = (
    top_loans
    .groupby("sector", as_index=False)
    .agg(top_loans_count=("id", "count"))
    .sort_values("top_loans_count", ascending=False)
)

# Currency summary
top_currency = (
    top_loans
    .groupby("currency", as_index=False)
    .agg(top_loans_count=("id", "count"))
    .sort_values("top_loans_count", ascending=False)
)

# Repayment interval summary
top_repayment = (
    top_loans
    .groupby("repayment_interval", as_index=False)
    .agg(top_loans_count=("id", "count"))
    .sort_values("top_loans_count", ascending=False)
)

top_sector, top_currency, top_repayment

(            sector  top_loans_count
 6             Food             2050
 11          Retail             1390
 0      Agriculture              830
 2         Clothing              801
 12        Services              739
 1             Arts              248
 4        Education              229
 3     Construction              115
 7           Health              101
 13  Transportation               69
 10    Personal Use               61
 9    Manufacturing               55
 8          Housing               26
 5    Entertainment               23
 14       Wholesale               12,
    currency  top_loans_count
 28      USD             2700
 22      PYG              946
 23      RWF              827
 20      PEN              599
 2       BOB              461
 18      MXN              321
 9       GTQ              184
 7       DOP              137
 16      MMK               90
 32      XOF               83
 31      XAF               81
 15      KES               71
 30      WST               30
 11      HTG               27
 8       GHS               23
 13      ILS               22
 1       BIF               20
 26      TZS               19
 27      UGX               18
 10      HNL               17
 19      NIO               13
 33      YER               13
 29      VND                8
 21      PHP                5
 4       CLP                4
 3       BRL                4
 5       COP                4
 34      ZMW                4
 25      TRY                4
 14      INR                4
 0       AZN                3
 6       CRC                3
 24      SLL                2
 17      MWK                1
 12      IDR                1,
   repayment_interval  top_loans_count
 2            monthly             3274
 1          irregular             3187
 0             bullet              288)

### Interpretation

By focusing on the top 1% of loans (based on `loan_amount_usd`), we isolate the very largest microloans in the Kiva dataset. These loans are uncommon but highly informative, as they reveal which sectors, currencies and repayment structures are associated with large–scale microfinance operations.

**Sector patterns:**  
The sector summary shows that the largest loans tend to concentrate in a small number of categories, such as *Agriculture*, *Retail*, *Services*, *Housing* or *Education*. These sectors typically involve larger business activities, higher operating costs or more capital-intensive projects, which explains why they appear so strongly in the top 1%.

**Currency patterns:**  
The currency distribution indicates which monetary systems are associated with larger loans. Currencies like USD, KES, MXN or PHP often appear at the top because they are used in countries with larger-scale microfinance institutions or in regions where field partners offer higher-value credit products. This highlights how economic context and financial infrastructure influence loan size.

**Repayment interval patterns:**  
In the repayment summary, certain repayment intervals — such as *monthly* or *irregular* — are more common among the largest loans. Monthly repayment schedules are typical for structured, business-oriented loans, while irregular schedules may be linked to seasonal or agriculture-based activities. This suggests that repayment structure is also adapted to the type and scale of the project being financed.

### Conclusion

The largest 1% of Kiva loans are not randomly distributed: they cluster within specific sectors, currencies and repayment structures. These large loans tend to support more capital-intensive activities and reflect the operational strategies of Kiva’s field partners in regions where higher-value microfinance is feasible. Overall, this analysis reveals how very large loans differ from typical microloans in both economic context and project characteristics.

# Final Conclusion

This exploratory analysis of the Kiva Crowdfunding dataset reveals how microfinance activity varies across sectors, countries, currencies, borrower profiles and time.  
By addressing six analytical questions, we were able to uncover consistent structural patterns in Kiva’s global loan portfolio while practising core data-handling techniques in pandas.

Throughout the notebook, we applied all required operations:

- **Row filtering** using string methods (`str.contains`) and numerical conditions.  
- **Sorting** using `sort_values`.  
- **Grouping and aggregation** with `groupby`.  
- **Creation of new variables** using `apply` and `lambda`, including the standardized `loan_amount_usd` and the `borrower_type` classification.  
- **Currency-adjusted comparison**, ensuring fair analysis of loan sizes across countries.

The results highlight several important insights:

1. **Sector trends:** Agriculture, Food and Retail dominate both in total funding and loan volume, indicating large demand and extensive field-partner activity in these areas.

2. **Currency differences:** Even after converting to USD, loan sizes differ sharply across currencies, reflecting local economic environments and lending strategies.

3. **Food-related loans:** Food-sector lending varies widely across countries, with some markets supporting significantly larger loan sizes than others.

4. **Borrower gender:** Mixed-gender groups and male borrowers tend to receive larger loans, while women represent the majority of borrowers but typically receive smaller individual loan amounts—consistent with global microfinance patterns.

5. **Temporal dynamics:** In high-volume countries such as the Philippines, Kiva’s activity expanded significantly over time, driven primarily by an increase in the number of loans rather than changes in loan size.

6. **Largest 1% of loans:** Very large loans cluster in specific sectors, currencies and repayment structures, showing how capital-intensive projects and stable financial ecosystems influence the scale of lending.

Overall, this analysis demonstrates how Kiva adapts its lending practices to local economic conditions, borrower characteristics and field-partner strategies.  
Despite being a single dataset, the diversity of patterns illustrates how microfinance can vary dramatically across regions and contexts.

The exercise also showed the importance of cleaning, transforming and standardizing data—particularly when working with multiple currencies—so that meaningful comparisons and insights can be drawn.  
By combining pandas operations with contextual interpretation, we gain a comprehensive understanding of how Kiva allocates resources and supports borrowers worldwide.